@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        h1, h2 {
            color: #33691e;
        }

        p {
            margin: 0 0 20px;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>


    <h2>Introduction</h2>
    <p>Welcome to EcoPlanet! This Privacy Policy describes how we collect, use, and disclose personal information when you use our website.</p>

    <h2>Information We Collect</h2>
    <p>
        We may collect personal information such as your name, email address, and phone number when you interact with our website, such as when you fill out a contact form or subscribe to our newsletter.
        Usage Information: We automatically collect certain information about your device and how you interact with our website, such as your IP address, browser type, and pages visited.
        Cookies: We use cookies and similar tracking technologies to analyze trends, administer the website, track users' movements around the website, and gather demographic information about our user base.
    </p>

    <h2>How We Use Your Information</h2>
    <p>
        We use the information we collect to provide and maintain our website, communicate with you, and fulfill your requests.
        To Improve Our Services: We analyze usage data to understand how our website is used and to improve its functionality and user experience.
        For Marketing Purposes: With your consent, we may send you promotional emails about our products, services, and offers.
        For Legal Purposes: We may use your information to comply with applicable laws and regulations, respond to legal requests, and protect our rights and interests.
    </p>

    <h2>Data Retention</h2>
    <p>
        We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.
    </p>


</body>
</html>
