<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Broadcast Message</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            position: relative; /* Add relative positioning to the body */
        }

        header {
            position: fixed;
            width: 100%;
            z-index: 1000;
        }

        .footer[b-doy38w0r2c] {
            height: 0px;
        }
        .wrap {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            max-width: 800px;
            background-color: #ffffff;
            padding: 2em;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgb(0 0 0 / 48%);
            text-align: center;
        }

        h1 {
            color: #333;
            font-size: 37px;
            margin-bottom: 1em;
            text-align: center;
        }

        label {
            display: block;
            margin-top: 1em;
            color: #555;
            font-size: 18px;
            text-align: left;
            font-weight: 700;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 0.5em;
            border-radius: 5px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            font-size: 16px;
        }

        textarea {
            min-height:110px;
            max-height: 179px;
            height: 110px;
        }

        .header-container {
            display: flex;
            justify-content: space-between; /* Aligns items to the edges */
            align-items: center; /* Centers items vertically */
            text-align: center;
            margin-bottom: 1em; /* Adds space below the header */
        }

        .header-container h1 {
            flex-grow: 1; /* Allows the <h1> to grow and occupy the available space */
            margin: 0; /* Resets the margin */
        }

        .header-container button.action-button{
            margin: 0; /* Resets the margin */
            align-self: flex-end; /* Aligns button to the right */
        }

        .edit {
            padding: 10px 20px;
            background-color: #0056b3c9;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s;
            text-decoration: none;
        }

        .edit:hover, .edit:focus {
            background-color: #003d82;
            color: #fff;
        }

        .view {
            padding: 10px 20px;
            background-color: seagreen;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s;
            text-decoration: none;
        }

        .view:hover, .view:focus {
            background-color: darkgreen;
            color: #fff;
        }

        button.btn-primary {
            margin-top: 1em;
            padding: 10px 20px;
            background-color: #0056b3;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s;
        }

        button.btn-primary:hover {
            background-color: #003d82;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
        }

        .action-button {
            margin: 0 10px; /* Adjust the spacing between buttons if needed */
        }
    </style>
</head>
<body>
    <br><br></br></br>
    <div>
        <div class="header-container">
            <h1> Broadcast Message</h1>
        </div>
        <hr>
    </div>
    <div class="button-container">
        <a href="@Url.Action("ViewBroadcast", "SNS")" class="action-button edit" >View Broadcast History</a>
        <a href="@Url.Action("ViewSubscribers", "SNS")" class="action-button view">View Subscribers Lists</a>
    </div>
    <div class="wrap">
        <form method="post" asp-action="broadcast" asp-controller="SNS">
            <label for="title">Subject Title</label>
            <input type="text" id="title" name="title" placeholder="e.g. Today closed shop!" required>

            <label for="msgbody">Message Body</label>
            <textarea id="msgbody" name="msgbody" rows="10" placeholder="Today...." required></textarea>

            <button type="submit" class="btn-primary">Send Now!</button>
        </form>
    </div>
</body>
</html>
