@using Microsoft.AspNetCore.Identity
@using EcoPlanet.Areas.Identity.Data

@inject SignInManager<EcoPlanetUser> SignInManager
@inject UserManager<EcoPlanetUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    // Get the user asynchronously
    var user = await UserManager.GetUserAsync(User);
    // Check the user type and render different items
    @if (user.UserType == 'A')
    {
            <li class="nav-item">
                <a id="addtrashpedia" class="nav-link text-dark" asp-action="Index" asp-controller="Trashpedia"> Manage Trashpedia </a>
            </li>
    }
    else if (user.UserType == 'U')
    {
        <li class="nav-item">
            <a id="addtrashpedia" class="nav-link text-dark" asp-action="Index" asp-controller="Trashpedia">View Trashpedia List</a>
        </li>
    }
    else if (user.UserType == 'S')
    {
        <li class="nav-item">
            <a id="addgoods" class="nav-link text-dark" asp-action="Index" asp-controller="Goods">Manage Goods</a>
        </li>
    }

    //Common Items
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
