@inject SignInManager<EcoPlanetUser> SignInManager
@inject UserManager<EcoPlanetUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var currentUserId = UserManager.GetUserId(User);
    var isAdmin = currentUser.UserType == 'A';

    // Determine if an editingUserId is provided in the query string
    var editingUserId = Context.Request.Query["userId"];
    var isEditingAnotherProfile = !string.IsNullOrEmpty(editingUserId) && editingUserId != currentUserId;

    // Check if the admin is editing their own profile
    var editingSelf = !isEditingAnotherProfile;
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    </li>
    @if (!isEditingAnotherProfile)
    {
        // Show Email and Password only if the admin is not editing another user's profile
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a>
        </li>
    }

</ul>