@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="forgot-password-container d-flex align-items-center justify-content-center">
    <div class="text-center form-box">
        <h1>@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .forgot-password-container {
        min-height: 80vh; /* 80% of the viewport height */
    }

    .form-box {
        width: 100%;
        max-width: 600px; /* Adjust as necessary for the desired width */
        background: #fff;
        padding: 2rem;
        margin: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgb(0 0 0 / 59%); /* Subtle shadow for depth */
    }

    form {
        margin-top: 2rem;
    }

    hr {
        margin-bottom: 2rem;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: none; /* Remove default Bootstrap shadow */
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>
