@page
@using EcoPlanet.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService AuthorizationService
@inject UserManager<EcoPlanetUser> UserManager
@model RegisterModel
@{
    ViewData["Title"] = "Register";

    var isAdmin = false;

    if (User.Identity.IsAuthenticated)
    {
        var Id = UserManager.GetUserId(User);
        var currentUser = await UserManager.FindByIdAsync(Id);
        isAdmin = currentUser?.UserType == 'A';
    }

}

<div class="container mt-custom">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="login-container p-5">
                    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
                    <section>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.fullname" class="form-control" />
                                <label asp-for="Input.fullname"></label>
                                <span asp-validation-for="Input.fullname" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.DoB" class="form-control" />
                                <label asp-for="Input.DoB"></label>
                                <span asp-validation-for="Input.DoB" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            @if (isAdmin)
                            {
                                <div class="form-floating mb-3">
                                    <select asp-for="Input.UserType" class="form-control">
                                        <option value="">Select User Type</option>
                                        <option value="U">User</option>
                                        <option value="A">Admin</option>
                                        <option value="D">Driver</option>
                                    </select>
                                </div>
                            }
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            @if (!isAdmin)
                            {
                                <div class="mt-4 text-center">
                                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Log in here</a>
                                </div>
                            }
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .container {
        max-width: 100%;
        height: auto;
    }

    .mt-custom {
        margin-top: 40px; /* Adjust this value as necessary */
    }

    .login-container {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgb(0 0 0 / 55%);
        height: auto; /* Control height here if needed */
        max-height: 700px; /* Control maximum height here if needed */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-control {
        border-radius: 5px;
    }

    .btn-primary {
        border-radius: 5px;
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    hr {
        margin-top: 0;
        border-color: #eee;
    }
</style>

